<?php
$google_username = '';
$google_password = '';

/**
 * You do not need to edit below this line
 */
return array(
    'goaliomailservice' => array(
        'transport_class' => 'Zend\Mail\Transport\Smtp',

        'options_class' => 'Zend\Mail\Transport\SmtpOptions',

        'options' => array(
            'host' => 'smtp.gmail.com',
            'connection_class' => 'login',
            'connection_config' => array(
                'ssl' => 'tls',
                'username' => $google_username,
                'password' => $google_password
            ),
            'port' => 587
        )
    )
);
